<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}

            {% endblock %}
            | UNTELS
        </title>
                {% load static %}
                <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    </head>
    <body>
        <header style="height: 90px;">
                <div id="logotipo" style=" text-align: start!important;">
                    <img src="{% static 'imagen/untels.png' %}" style="width: auto;height: auto;"/>
                </div>
        </header>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'inicio' %}"> Inicio</a>
                    </li>
                    <li>
                        <a href="{% url 'integrantes' %}"> Integrantes</a>
                    </li>
                    <li>
                        <a href="{% url 'crearproductos' %}"> crearproductos</a>
                    </li>
                    <li>
                        <a href="{% url 'crearcursos' %}"> crearcursos</a>
                    </li>
        </ul>
            </nav>
            <div class="barra">
                <span class="esquina-izquierda"></span>
                <span class="relleno-barra"></span>
                <span class="esquina-derecha"></span>
            </div>
            <div id="content">
                <div class ="box">
                    
                    {% block content %}
                        
                    {% endblock %}
                </div> 
            </div>
        <footer>
            UNTELS - Lenguaje de Programación III &COPY; PR-EF - {% now "d/m/Y h:m:s" %}
        </footer>
    </body>
    </html>
